# Library

In [1]:
import pandas as pd
import numpy as np
import os

# Load data

In [2]:
df = pd.read_csv('../data/2022-03-08-unclean.csv')
df.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent
0,China,"111,520",+325,"4,636",NaN,"102,832",+110,"4,052",9,77,3,"160,000,000","111,163","1,439,323,776",Asia
1,USA,"81,024,903","+33,615","988,208","+1,299","55,221,462","+202,659","24,815,233","5,421","242,395","2,956","960,233,929","2,872,645","334,268,263",North America
2,India,"42,975,883","+4,575","515,386",+145,"42,413,566","+7,416","46,931","8,944","30,635",367,"774,310,567","551,964","1,402,828,373",Asia
3,Brazil,"29,144,964","+75,495","652,936",+518,"27,344,949","+165,757","1,147,079","8,318","135,494","3,035","63,776,166","296,493","215,101,451",South America
4,France,"23,164,872","+93,050","139,618",+167,"21,836,839","+98,559","1,188,415","2,484","353,573","2,131","246,629,975","3,764,393","65,516,532",Europe

# Check data type

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country,Other     218 non-null    object
 1   TotalCases        218 non-null    object
 2   NewCases          167 non-null    object
 3   TotalDeaths       218 non-null    object
 4   NewDeaths         113 non-null    object
 5   TotalRecovered    208 non-null    object
 6   NewRecovered      146 non-null    object
 7   ActiveCases       208 non-null    object
 8   Serious,Critical  162 non-null    object
 9   Tot Cases/1M pop  218 non-null    object
 10  Deaths/1M pop     212 non-null    object
 11  TotalTests        209 non-null    object
 12  Tests/1M pop      209 non-null    object
 13  Population        218 non-null    object
 14  Continent         218 non-null    object
dtypes: object(15)
memory usage: 25.7+ KB

# Strip spaces

In [4]:
df['Country,Other']=df['Country,Other'].str.strip()
df['Continent']=df['Continent'].str.strip()

# Convert number

In [5]:
def convertNumber(x):
    if (pd.isnull(x)): return x
    x = str(x)
    x = x.replace("+","")
    x = x.replace(",","")
    x = x.strip()
    try: return float(x)
    except: return np.nan

numColumns = df.columns.drop(["Country,Other","Continent"])
for col in numColumns:
    df[col]=df[col].apply(convertNumber)

df.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent
0,China,111520.0,325.0,4636.0,NaN,102832.0,110.0,4052.0,9.0,77.0,3.0,160000000.0,111163.0,1.439324e+09,Asia
1,USA,81024903.0,33615.0,988208.0,1299.0,55221462.0,202659.0,24815233.0,5421.0,242395.0,2956.0,960233929.0,2872645.0,3.342683e+08,North America
2,India,42975883.0,4575.0,515386.0,145.0,42413566.0,7416.0,46931.0,8944.0,30635.0,367.0,774310567.0,551964.0,1.402828e+09,Asia
3,Brazil,29144964.0,75495.0,652936.0,518.0,27344949.0,165757.0,1147079.0,8318.0,135494.0,3035.0,63776166.0,296493.0,2.151015e+08,South America
4,France,23164872.0,93050.0,139618.0,167.0,21836839.0,98559.0,1188415.0,2484.0,353573.0,2131.0,246629975.0,3764393.0,6.551653e+07,Europe

# Check data type again

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country,Other     218 non-null    object
 1   TotalCases        218 non-null    float64
 2   NewCases          167 non-null    float64
 3   TotalDeaths       212 non-null    float64
 4   NewDeaths         113 non-null    float64
 5   TotalRecovered    208 non-null    float64
 6   NewRecovered      146 non-null    float64
 7   ActiveCases       208 non-null    float64
 8   Serious,Critical  162 non-null    float64
 9   Tot Cases/1M pop  218 non-null    float64
 10  Deaths/1M pop     212 non-null    float64
 11  TotalTests        209 non-null    float64
 12  Tests/1M pop      209 non-null    float64
 13  Population        218 non-null    float64
 14  Continent         218 non-null    object
dtypes: float64(13), object(2)
memory usage: 25.7+ KB

In [7]:
def cleanData(filename):
    df = pd.read_csv(filename)
    df['Country,Other']=df['Country,Other'].str.strip()

    numColumns = df.columns.drop(["Country,Other","Continent"])
    for col in numColumns:
        df[col]=df[col].apply(convertNumber)
    return df

files = [unclean for unclean in os.listdir('../data') if unclean.endswith("-unclean.csv")]

for unclean in files:
    df = cleanData('../data/'+unclean)
    df.to_csv('../data/'+unclean.replace('unclean','clean'),index=False)

# Generating time-series data

In [26]:
files = [clean for clean in os.listdir('../data') if clean.endswith("-clean.csv")]
df_all = pd.DataFrame()
for path in files:
    crawlDate=path[:path.rfind('-')]
    df_one = pd.read_csv(os.path.join('../data',path))
    df_one['Date'] = pd.to_datetime(crawlDate)
    df_all = df_all.append(df_one)
print(df_all.head())
df_all.to_csv('../data/time_series.csv')

  Country,Other  TotalCases  NewCases  TotalDeaths  NewDeaths  TotalRecovered  \
0         China    111520.0     325.0       4636.0        NaN        102832.0
1           USA  81024903.0   33615.0     988208.0     1299.0      55221462.0
2         India  42975883.0    4575.0     515386.0      145.0      42413566.0
3        Brazil  29144964.0   75495.0     652936.0      518.0      27344949.0
4        France  23164872.0   93050.0     139618.0      167.0      21836839.0

   NewRecovered  ActiveCases  Serious,Critical  Tot Cases/1M pop  \
0         110.0       4052.0               9.0              77.0
1      202659.0   24815233.0            5421.0          242395.0
2        7416.0      46931.0            8944.0           30635.0
3      165757.0    1147079.0            8318.0          135494.0
4       98559.0    1188415.0            2484.0          353573.0

   Deaths/1M pop   TotalTests  Tests/1M pop    Population      Continent  \
0            3.0  160000000.0      111163.0  1.439324e+09           Asia
1         2956.0  960233929.0     2872645.0  3.342683e+08  North America
2          367.0  774310567.0      551964.0  1.402828e+09           Asia
3         3035.0   63776166.0      296493.0  2.151015e+08  South America
4         2131.0  246629975.0     3764393.0  6.551653e+07         Europe

        Date
0 2022-03-08
1 2022-03-08
2 2022-03-08
3 2022-03-08
4 2022-03-08